.navbar {
    height: 100px;
    margin-bottom: 150px;
}

.photo {
    margin-left: 200px;
}

h1 {
    font-family: serif;
}

.introduction {
    margin-right: 100px;
}

body {
    background-color: burlywood;
}

.navword {
    color:black;
    text-decoration: none;
}

.multilogo {
    margin-left: 500px;
}

.stylesheet {
    margin-left: 375px;
}

.mintro {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 200px;
}

.a {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 500px;
}

.b {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.stylesheett {
    text-align: center;
    margin-bottom: 300px;
}

.homewire {
    text-align: center;
    margin-bottom: 300px;
}

.d {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wireex {
    text-align: center;
}